@import '../styles/shared.scss';

#best-practice {
    margin-top: 100px;
}

.bp-section {
    height: 600px;
    width: 1140px;
    background: $tiBlue;
    display: flex;
    flex-direction: column;
}

.bp-options ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin-left: 0;
        padding: 20px;
        flex-grow: 1;
        text-align: center;
        color: $tiWhite;
        font-family: $primaryFont;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid $tiWhite;
    
        &.active-li {
            background: $tiPink;
        }

        &:hover {
            background: $tiGreen;
            cursor: pointer;
        }
    }
}

.bp-content {
    padding: 40px;
    color: $tiWhite;
    display: flex;
    
    .bp-column-text {
        width: 50%;
        
        p, ul {
            font-weight: 600;
        }

    }

    .bp-column-img {
        display: flex;
        align-items: center;
        margin-left: 40px;
        width: 30%;
    
        img {
            max-height: 450px;
        }
    }

    .bp-read-more {
        margin-top: 20px;
        background: $tiPink;
        color: $tiWhite;
        border: 2px solid $tiWhite;
        padding: 10px 20px;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            background: $tiGreen;
        }

        &:focus {
            outline: none;
        }
    }

}