$primaryFont: 'Oswald', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
$tiBlue: #3695d8;
$tiPink: #E74B7D;
$tiGreen: #4DB9C7;
$tiWhite: #ffffff;

$scoreA: #225F89;
$scoreB: #3695d8;
$scoreC: #86BFE7;
$scoreD: #F6A931;
$scoreE: #E77A31;
$scoreF: #C74426;